#navToolbar {
	position: absolute;
	right: 12px;
	background-color: rgba(1,1,1,0.25);
	z-index:999;
	.navButton {
		margin: 4px;
		width: 16px; height: 16px;
		float: left;
		text-indent: -9999px;
		&.zoomin {background: url("icons/nav_zoomin.png");}
		&.zoomout {background: url("icons/nav_zoomout.png");}
		&.zoomfullext {background: url("icons/nav_fullextent.png");}
		&.zoomprev {background: url("icons/nav_previous.png");}
		&.zoomnext {background: url("icons/nav_next.png");}
		&.pan {background: url("icons/nav_pan.png");}
		&.deactivate {background: url("icons/nav_decline.png");}
	}
}

#basemap-toggle {position: absolute; top: 145px; left: 10px; z-index: 999;}
#home-button {position: absolute; top: 100px; left:25px; z-index: 999;}
